services:
  kafka:
    image: bitnami/kafka:3.6
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LOG_DIRS=/bitnami/kafka/data
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - kafka_data:/bitnami/kafka

  postgres:
    image: postgres:16
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: my-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

  artemis:
    image: apache/activemq-artemis:2.32.0
    container_name: artemis
    ports:
      - "61616:61616"   # Core, OpenWire
      - "5672:5672"     # AMQP
      - "1883:1883"     # MQTT
      - "8161:8161"     # Web UI
    environment:
      - ARTEMIS_USER=admin
      - ARTEMIS_PASSWORD=admin
      - ENABLE_JMX=true
    volumes:
      - artemis-data:/var/lib/artemis-instance
    entrypoint: sh
    command: >
      -c "
        if [ ! -f /var/lib/artemis-instance/etc/broker.xml ]; then
          /opt/apache-artemis/bin/artemis create /var/lib/artemis-instance \
            --user $ARTEMIS_USER --password $ARTEMIS_PASSWORD --silent --allow-anonymous;
        fi &&
        /var/lib/artemis-instance/bin/artemis run"
    restart: unless-stopped

volumes:
  kafka_data:
  postgres_data:
  artemis-data:
